
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top: 50px;">Product</h2>
<div>
    <ul>
        <li>
            <h2>MPET.Net</h2>
            <div>
                <p>M-PET (Maintenance Productivity Enhancement Tool) is the next generation of Computerized Maintenance Management System (CMMS). Designed for superior performance in every environment from manufacturing to facilities to municipality environments, M-PET has a demonstrated ability to deliver fast, comprehensive results for management of every aspect of your automated maintenance environment.</p>
            </div>
        </li>
        <li>
            <h2>M-Pet.net Web</h2>
            <div>
                <p>Web-Based Solution; one of the biggest in-demand options for Business' today. That's where M-PET.WEB comes in. This Application will run over an internet connection (either hosted by the Client, or through our Server) that links into the same Database as the Desktop. This gives you the advantage of letting Employees use a Web Based System for many of the key features of our system without needing a full install on that Workstation.</p>
            </div>
        </li>
        <li>
            <h2>MPET GO</h2>
            <div>
                <p>MPET Go is for the on the go worker in the field. It allows for on site work order creation and assest adjustments right there on the spot. The mobile freindly version is perfect for updating GPS coordinates and taking pictues of assets for documentation. With MPET GO you can take work with you where ever you go.</p>
            </div>        
        </li>
    </ul>
</div>
