
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="h2" style="padding-top: 50px; padding-left: 10px;">Services</h2>

<div class="container-fluid">
    <h3>Hosted Solutions</h3>
        <p>We've got you covered. Think that setting up and configuring a Server just to be able to use our Software is too much of a hassle? Let us host it for you! With our High End Servers, we can handle all of your Data Safely and Remotely. Have access to your Data whenever you want, 24 Hours a Day, 7 Days a Week, 365 Days a Year. With Business Class Security and Automated Daily Backups, you can be rest assured that your Data is safe with us.</p>
        <ul>
            <li><p>Regular Backups To External Devices</p></li>
            <li><p>Business-Class Security To Protect Your Data</p></li>
            <li><p>Access Your Data Anytime You Want</p></li>
            <li><p>Access Your Data Wherever You Are</p></li>
            <li><p>In-house IT team</p></li>
        </ul>
</div>
<div class="container-fluid">
    <h3>Turn-Key Implementation</h3>
    <p>With our talented staff of IT and Program Developers, coupled with our hands-on Maintenance and Project Management expertise, Four Winds Group is able to deliver any type of solution for those Organizations wanting to get their new M-PET.NET System operational quickly. In fact, we call it our Quick Turn Implementation.<br />
Four Winds Group recognizes that most Maintenance/Engineering Departments have limited Resources, which typically equates to not enough time or staff to dedicate to the development of a Maintenance Management System's Foundation.<br />
Once operational, a Maintenance System can help to provide the necessary Data to make informed resource Management decisions, but how does an organization reach that point?<br />
Four Winds dedicates their experienced and Professional Staff to undertake the all-important implementation process that must be accomplished prior to using such a System. This shortens the implementation timeline significantly, and by understanding what the end product should resemble, we can tailor the look and feel to match your existing practices.<br />
Working closely with your Organization, our knowledgeable Staff is able to perform the following tasks:</p>
    <h4>IT tasks</h4>
    <ul>
        <li><p>Evaluate and recommend Network, Workstation and Server requirements</p></li>
        <li><p>Purchase and install any additional Hardware and Software</p></li>
        <li><p>Configure existing Workstations for the Database and Web Server</p></li>
        <li><p>Create custom Reports and provide Data Analysis</p></li>
        
    </ul>
    <h4>Maintenace information tasks</h4>
    <ul>       
        <li><p>Identify all Assets that will become part of the Asset database</p></li>
        <li><p>Develop Asset Lists with Nameplate Data information</p></li>
        <li><p>Import Asset Data into the M-PET.NET Database</p></li>
        <li><p>Develop Preventive Maintenance (PM) Procedures for all Maintainable Assets</p></li>
        <li><p>Develop PM Schedules and link Assets to PM Tasks, with Frequencies</p></li>
        <li><p>Level PM Schedules to ensure work is evenly distributed</p></li>
        <li><p>Train users at all levels of interaction of M-PET.NET</p></li>
        <li><p>Provide on-going support</p></li>
    </ul>
    <h4>Project management tasks</h4>
    <ul>
        <li><p>Single Project Manager assignment</p></li>
        <li><p>Track Scope of Work, Schedule of Implementation and Budge</p></li>
        <li><p>Lead Client status meetings and discussions where gathered Data is presented and decisions are required by the Client for subsequent implementation steps.</p></li>
    </ul>
</div>
<div class="container-fluid">
    <h3>Custom programming and interfacing</h3>
    <p>Four Winds Group Inc. doesn't just focus all our resources on M-PET, we can create custom, made to order Applications as well. Maybe you want a Website that you can use from multiple Workstations to access Information on a Central Database, we can do that. Maybe you want an Application on a PDA or Tablet Computer that you can use out in the field, we can do that too. Bottom line is, whatever Software you require, Four Winds Group Inc. can deliver it to you.
What happens when you have an existing system in place for basic Job Creation or Asset Tracking that you can't change for whatever reason but you'd like to use M-PET? Let our IT staff come up with a plan and create a custom interface to import the information from your existing systems right into M-PET where subsequent actions will take place. This solves all your problems by letting you continue using your Legacy Systems while taking advantage of all of M-PET's great Features and Benefits.</p>
    
</div>