
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top: 50px;">Clients</h2>

<ul>
    <li>Washington State Ferries</li>
    <li>Washington Department of Transportation</li>
    <li>Lindt Chocolate</li>
    <li>County of Yakima</li>
    <li>County of Kauai</li>
    <li>Kauai Waste Water</li>
    <li>Koch Industries</li>
    
</ul>